header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;width: 100%;
    height: var(--header-h);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 160px;
    height: 22px;
    background: url(../images/logo_w.png) no-repeat center center / cover;
}

header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
}
header .gnb .gnb_wrap ul.depth1 >li > a {
    display: block;
    line-height: var(--header-h);
    font-size: 20px;
    font-weight: 400;
    padding: 0 40px;
}
header .util .lang .lang_open {
    display: block;
    width: 36px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_63' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='36' height='36'%3E%3Crect width='36' height='36' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_63)'%3E%3Cpath d='M18 32.25C16.0463 32.25 14.2025 31.8755 12.4688 31.1265C10.735 30.3775 9.223 29.3577 7.93275 28.0672C6.64225 26.777 5.6225 25.265 4.8735 23.5312C4.1245 21.7975 3.75 19.9538 3.75 18C3.75 16.0308 4.1245 14.1831 4.8735 12.4571C5.6225 10.7311 6.64225 9.223 7.93275 7.93275C9.223 6.64225 10.735 5.6225 12.4688 4.8735C14.2025 4.1245 16.0463 3.75 18 3.75C19.9692 3.75 21.8169 4.1245 23.5429 4.8735C25.2689 5.6225 26.777 6.64225 28.0672 7.93275C29.3577 9.223 30.3775 10.7311 31.1265 12.4571C31.8755 14.1831 32.25 16.0308 32.25 18C32.25 19.9538 31.8755 21.7975 31.1265 23.5312C30.3775 25.265 29.3577 26.777 28.0672 28.0672C26.777 29.3577 25.2689 30.3775 23.5429 31.1265C21.8169 31.8755 19.9692 32.25 18 32.25ZM18 29.9681C18.7655 28.9529 19.4097 27.9289 19.9328 26.8961C20.4557 25.8634 20.8818 24.7345 21.2108 23.5095H14.7893C15.1375 24.773 15.5684 25.9211 16.0819 26.9539C16.5951 27.9866 17.2345 28.9914 18 29.9681ZM15.0953 29.5556C14.5203 28.7306 14.0039 27.7927 13.5461 26.742C13.0884 25.691 12.7326 24.6135 12.4789 23.5095H7.3905C8.18275 25.0673 9.24525 26.376 10.578 27.4357C11.9107 28.4952 13.4165 29.2019 15.0953 29.5556ZM20.9048 29.5556C22.5835 29.2019 24.0893 28.4952 25.422 27.4357C26.7547 26.376 27.8172 25.0673 28.6095 23.5095H23.5211C23.2191 24.623 22.8393 25.7053 22.3815 26.7563C21.924 27.8073 21.4318 28.7404 20.9048 29.5556ZM6.447 21.2595H12.0233C11.929 20.702 11.8606 20.1554 11.8181 19.6196C11.7759 19.0841 11.7547 18.5443 11.7547 18C11.7547 17.4557 11.7759 16.9159 11.8181 16.3804C11.8606 15.8446 11.929 15.298 12.0233 14.7405H6.447C6.30275 15.25 6.19225 15.7798 6.1155 16.3298C6.0385 16.8798 6 17.4365 6 18C6 18.5635 6.0385 19.1203 6.1155 19.6703C6.19225 20.2203 6.30275 20.75 6.447 21.2595ZM14.2729 21.2595H21.7271C21.8211 20.702 21.8894 20.1602 21.9319 19.6342C21.9741 19.1082 21.9953 18.5635 21.9953 18C21.9953 17.4365 21.9741 16.8917 21.9319 16.3657C21.8894 15.8397 21.8211 15.298 21.7271 14.7405H14.2729C14.1789 15.298 14.1106 15.8397 14.0681 16.3657C14.0259 16.8917 14.0047 17.4365 14.0047 18C14.0047 18.5635 14.0259 19.1082 14.0681 19.6342C14.1106 20.1602 14.1789 20.702 14.2729 21.2595ZM23.9767 21.2595H29.553C29.6973 20.75 29.8078 20.2203 29.8845 19.6703C29.9615 19.1203 30 18.5635 30 18C30 17.4365 29.9615 16.8798 29.8845 16.3298C29.8078 15.7798 29.6973 15.25 29.553 14.7405H23.9767C24.071 15.298 24.1394 15.8446 24.1819 16.3804C24.2241 16.9159 24.2453 17.4557 24.2453 18C24.2453 18.5443 24.2241 19.0841 24.1819 19.6196C24.1394 20.1554 24.071 20.702 23.9767 21.2595ZM23.5211 12.4905H28.6095C27.8078 10.9135 26.7525 9.60475 25.4438 8.56425C24.135 7.524 22.622 6.8125 20.9048 6.42975C21.4798 7.30275 21.9913 8.25762 22.4393 9.29437C22.8875 10.3309 23.2481 11.3963 23.5211 12.4905ZM14.7893 12.4905H21.2108C20.8625 11.2365 20.4245 10.0811 19.8968 9.02438C19.3688 7.96763 18.7365 6.97012 18 6.03187C17.2635 6.97012 16.6313 7.96763 16.1033 9.02438C15.5755 10.0811 15.1375 11.2365 14.7893 12.4905ZM7.3905 12.4905H12.4789C12.7519 11.3963 13.1125 10.3309 13.5608 9.29437C14.0087 8.25762 14.5203 7.30275 15.0953 6.42975C13.3683 6.8125 11.8529 7.5265 10.5491 8.57175C9.24513 9.61675 8.19225 10.923 7.3905 12.4905Z' /%3E%3C/g%3E%3C/svg%3E%0A");
}


@media screen and (max-width:1024px) {
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 85px;
        height: 12px;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_34_1727' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_34_1727)'%3E%3Cpath d='M4 21C3.45 21 2.97917 20.8042 2.5875 20.4125C2.19583 20.0208 2 19.55 2 19V17C2 16.7167 2.09583 16.4792 2.2875 16.2875C2.47917 16.0958 2.71667 16 3 16H21C21.2833 16 21.5208 16.0958 21.7125 16.2875C21.9042 16.4792 22 16.7167 22 17V19C22 19.55 21.8042 20.0208 21.4125 20.4125C21.0208 20.8042 20.55 21 20 21H4ZM4 18V19H20V18H4ZM12 13.5C11.4 13.5 10.925 13.6667 10.575 14C10.225 14.3333 9.58333 14.5 8.65 14.5C7.71667 14.5 7.08333 14.3333 6.75 14C6.41667 13.6667 5.95 13.5 5.35 13.5C4.88333 13.5 4.50417 13.6125 4.2125 13.8375C3.92083 14.0625 3.525 14.2417 3.025 14.375C2.75833 14.4583 2.52083 14.4042 2.3125 14.2125C2.10417 14.0208 2 13.7833 2 13.5C2 13.2167 2.09583 12.9708 2.2875 12.7625C2.47917 12.5542 2.70833 12.3833 2.975 12.25C3.25833 12.1 3.56667 11.9375 3.9 11.7625C4.23333 11.5875 4.71667 11.5 5.35 11.5C6.28333 11.5 6.91667 11.6667 7.25 12C7.58333 12.3333 8.05 12.5 8.65 12.5C9.25 12.5 9.725 12.3333 10.075 12C10.425 11.6667 11.0667 11.5 12 11.5C12.9333 11.5 13.575 11.6667 13.925 12C14.275 12.3333 14.75 12.5 15.35 12.5C15.95 12.5 16.4167 12.3333 16.75 12C17.0833 11.6667 17.7167 11.5 18.65 11.5C19.25 11.5 19.725 11.5833 20.075 11.75C20.425 11.9167 20.7417 12.075 21.025 12.225C21.2917 12.3583 21.5208 12.5333 21.7125 12.75C21.9042 12.9667 22 13.2167 22 13.5C22 13.7833 21.9 14.0208 21.7 14.2125C21.5 14.4042 21.2667 14.4583 21 14.375C20.5167 14.2417 20.1375 14.0625 19.8625 13.8375C19.5875 13.6125 19.2167 13.5 18.75 13.5C18.15 13.5 17.6667 13.6667 17.3 14C16.9333 14.3333 16.2833 14.5 15.35 14.5C14.4167 14.5 13.775 14.3333 13.425 14C13.075 13.6667 12.6 13.5 12 13.5ZM12 3C13.2333 3 14.4458 3.1125 15.6375 3.3375C16.8292 3.5625 17.8958 3.9125 18.8375 4.3875C19.7792 4.8625 20.5417 5.47917 21.125 6.2375C21.7083 6.99583 22 7.91667 22 9C22 9.28333 21.9042 9.52083 21.7125 9.7125C21.5208 9.90417 21.2833 10 21 10H3C2.71667 10 2.47917 9.90417 2.2875 9.7125C2.09583 9.52083 2 9.28333 2 9C2 7.91667 2.29167 6.99583 2.875 6.2375C3.45833 5.47917 4.22083 4.8625 5.1625 4.3875C6.10417 3.9125 7.17083 3.5625 8.3625 3.3375C9.55417 3.1125 10.7667 3 12 3ZM12 5C9.93333 5 8.20417 5.25833 6.8125 5.775C5.42083 6.29167 4.53333 7.03333 4.15 8H19.85C19.4667 7.03333 18.5792 6.29167 17.1875 5.775C15.7958 5.25833 14.0667 5 12 5Z' /%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 24px;
    }
    header .gnb .gnb_wrap{
        display: none;
    }
    header .util {
        display: none;
    }
}