header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-title);
    background-color: #fff;
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1d1d1d;
    transition: transform 0.35s ease;
}
header.hide {
    transform: translateY(-100%);
}
header .logo a {
    display: block;
    width: 160px;
    height: 22px;
    background: url(../images/logo.png) no-repeat center center / cover;
}

header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;
}
header .gnb .gnb_wrap ul.depth1 >li > a {
    display: block;
    line-height: var(--header-h);
    font-weight: 400;
    padding: 0 40px;
}
header .util .lang .lang_open {
    display: block;
    width: 36px;
    height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .lang .lang_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_1400' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='36' height='36'%3E%3Crect width='36' height='36' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_1400)'%3E%3Cpath d='M18 31.5C16.1423 31.5 14.3923 31.1448 12.75 30.4343C11.1077 29.7235 9.6775 28.759 8.45925 27.5407C7.241 26.3225 6.2765 24.8923 5.56575 23.25C4.85525 21.6077 4.5 19.8577 4.5 18C4.5 16.1365 4.85525 14.385 5.56575 12.7455C6.2765 11.1063 7.241 9.6775 8.45925 8.45925C9.6775 7.241 11.1077 6.2765 12.75 5.56575C14.3923 4.85525 16.1423 4.5 18 4.5C19.8635 4.5 21.615 4.85525 23.2545 5.56575C24.8938 6.2765 26.3225 7.241 27.5407 8.45925C28.759 9.6775 29.7235 11.1063 30.4343 12.7455C31.1448 14.385 31.5 16.1365 31.5 18C31.5 19.8577 31.1448 21.6077 30.4343 23.25C29.7235 24.8923 28.759 26.3225 27.5407 27.5407C26.3225 28.759 24.8938 29.7235 23.2545 30.4343C21.615 31.1448 19.8635 31.5 18 31.5ZM18 30.0116C18.8808 28.8809 19.6068 27.7703 20.178 26.6798C20.749 25.5895 21.2134 24.3694 21.5711 23.0194H14.4289C14.8251 24.4461 15.2991 25.7047 15.8509 26.7952C16.4029 27.8855 17.1192 28.9576 18 30.0116ZM16.0905 29.7866C15.3905 28.9616 14.7515 27.9419 14.1735 26.7274C13.5957 25.5129 13.1655 24.2769 12.8828 23.0194H7.13062C7.99037 24.8846 9.20912 26.4144 10.7869 27.6086C12.3649 28.8029 14.1327 29.5289 16.0905 29.7866ZM19.9095 29.7866C21.8672 29.5289 23.6351 28.8029 25.2131 27.6086C26.7909 26.4144 28.0096 24.8846 28.8694 23.0194H23.1173C22.7385 24.2961 22.2601 25.5418 21.6821 26.7563C21.1044 27.9708 20.5135 28.9809 19.9095 29.7866ZM6.51938 21.5194H12.5711C12.4576 20.9039 12.3774 20.3043 12.3304 19.7205C12.2831 19.137 12.2595 18.5635 12.2595 18C12.2595 17.4365 12.2831 16.863 12.3304 16.2795C12.3774 15.6958 12.4576 15.0961 12.5711 14.4806H6.51938C6.35588 14.9999 6.22837 15.5657 6.13687 16.1782C6.04562 16.7907 6 17.398 6 18C6 18.602 6.04562 19.2092 6.13687 19.8217C6.22837 20.4342 6.35588 21.0001 6.51938 21.5194ZM14.0711 21.5194H21.9289C22.0424 20.9039 22.1226 20.3139 22.1696 19.7494C22.2169 19.1851 22.2405 18.602 22.2405 18C22.2405 17.398 22.2169 16.8149 22.1696 16.2506C22.1226 15.6861 22.0424 15.0961 21.9289 14.4806H14.0711C13.9576 15.0961 13.8774 15.6861 13.8304 16.2506C13.7831 16.8149 13.7595 17.398 13.7595 18C13.7595 18.602 13.7831 19.1851 13.8304 19.7494C13.8774 20.3139 13.9576 20.9039 14.0711 21.5194ZM23.4289 21.5194H29.4806C29.6441 21.0001 29.7716 20.4342 29.8631 19.8217C29.9544 19.2092 30 18.602 30 18C30 17.398 29.9544 16.7907 29.8631 16.1782C29.7716 15.5657 29.6441 14.9999 29.4806 14.4806H23.4289C23.5424 15.0961 23.6226 15.6958 23.6696 16.2795C23.7169 16.863 23.7405 17.4365 23.7405 18C23.7405 18.5635 23.7169 19.137 23.6696 19.7205C23.6226 20.3043 23.5424 20.9039 23.4289 21.5194ZM23.1173 12.9806H28.8694C27.9904 11.0769 26.786 9.54713 25.2563 8.39138C23.7265 7.23563 21.9442 6.5 19.9095 6.1845C20.6095 7.10575 21.2389 8.15913 21.7976 9.34463C22.3564 10.5304 22.7963 11.7424 23.1173 12.9806ZM14.4289 12.9806H21.5711C21.1749 11.5731 20.6864 10.3001 20.1056 9.16162C19.5249 8.02312 18.823 6.96538 18 5.98838C17.177 6.96538 16.4751 8.02312 15.8944 9.16162C15.3136 10.3001 14.8251 11.5731 14.4289 12.9806ZM7.13062 12.9806H12.8828C13.2038 11.7424 13.6436 10.5304 14.2024 9.34463C14.7611 8.15913 15.3905 7.10575 16.0905 6.1845C14.0365 6.5 12.2495 7.24038 10.7295 8.40563C9.20925 9.57113 8.00962 11.0961 7.13062 12.9806Z' /%3E%3C/g%3E%3C/svg%3E%0A");
}


@media screen and (max-width:1024px) {
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 85px;
        height: 15px;
    }
    header .gnb .gnb_open {
        display: block;
        width: 84px;
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_80' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_80)'%3E%3Cpath d='M4.5 7C4.35833 7 4.23958 6.952 4.14375 6.856C4.04792 6.76 4 6.64108 4 6.49925C4 6.35742 4.04792 6.23875 4.14375 6.14325C4.23958 6.04775 4.35833 6 4.5 6H19.5C19.6417 6 19.7604 6.048 19.8562 6.144C19.9521 6.24 20 6.35892 20 6.50075C20 6.64258 19.9521 6.76125 19.8562 6.85675C19.7604 6.95225 19.6417 7 19.5 7H4.5ZM4.5 18C4.35833 18 4.23958 17.952 4.14375 17.856C4.04792 17.76 4 17.6411 4 17.4993C4 17.3574 4.04792 17.2388 4.14375 17.1433C4.23958 17.0478 4.35833 17 4.5 17H19.5C19.6417 17 19.7604 17.048 19.8562 17.144C19.9521 17.24 20 17.3589 20 17.5008C20 17.6426 19.9521 17.7613 19.8562 17.8568C19.7604 17.9523 19.6417 18 19.5 18H4.5ZM4.5 12.5C4.35833 12.5 4.23958 12.452 4.14375 12.356C4.04792 12.26 4 12.1411 4 11.9992C4 11.8574 4.04792 11.7388 4.14375 11.6433C4.23958 11.5478 4.35833 11.5 4.5 11.5H19.5C19.6417 11.5 19.7604 11.548 19.8562 11.644C19.9521 11.74 20 11.8589 20 12.0008C20 12.1426 19.9521 12.2613 19.8562 12.3568C19.7604 12.4523 19.6417 12.5 19.5 12.5H4.5Z' /%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 24px;
    }
    header .gnb .gnb_wrap{
        display: none;
    }
    header .util {
        display: none;
    }
}
@media screen and (max-width:768px) {
    header .logo a {
        width: 49.5px;
        height: 36px;
        background: url(../images/logo_n.png) no-repeat center center / cover;
    }
    header .gnb .gnb_open {
        display: block;
        width: 68px;
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_80' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_80)'%3E%3Cpath d='M4.5 7C4.35833 7 4.23958 6.952 4.14375 6.856C4.04792 6.76 4 6.64108 4 6.49925C4 6.35742 4.04792 6.23875 4.14375 6.14325C4.23958 6.04775 4.35833 6 4.5 6H19.5C19.6417 6 19.7604 6.048 19.8562 6.144C19.9521 6.24 20 6.35892 20 6.50075C20 6.64258 19.9521 6.76125 19.8562 6.85675C19.7604 6.95225 19.6417 7 19.5 7H4.5ZM4.5 18C4.35833 18 4.23958 17.952 4.14375 17.856C4.04792 17.76 4 17.6411 4 17.4993C4 17.3574 4.04792 17.2388 4.14375 17.1433C4.23958 17.0478 4.35833 17 4.5 17H19.5C19.6417 17 19.7604 17.048 19.8562 17.144C19.9521 17.24 20 17.3589 20 17.5008C20 17.6426 19.9521 17.7613 19.8562 17.8568C19.7604 17.9523 19.6417 18 19.5 18H4.5ZM4.5 12.5C4.35833 12.5 4.23958 12.452 4.14375 12.356C4.04792 12.26 4 12.1411 4 11.9992C4 11.8574 4.04792 11.7388 4.14375 11.6433C4.23958 11.5478 4.35833 11.5 4.5 11.5H19.5C19.6417 11.5 19.7604 11.548 19.8562 11.644C19.9521 11.74 20 11.8589 20 12.0008C20 12.1426 19.9521 12.2613 19.8562 12.3568C19.7604 12.4523 19.6417 12.5 19.5 12.5H4.5Z' /%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 36px;
    }

}