
@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Lib';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/LibraryK.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'On';
    src: url('../fonts/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pura';
    src: url('../fonts/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}