
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);


.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-title);
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
}
header .logo a {
    display: block;
    width: 75px;
    height: 55px;
    background: url(../images/logo.png) no-repeat center center / cover;
}
.section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../images/bg.jpg) no-repeat center center / cover;
    opacity: 0.8;
    z-index: -1;
}
.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 위 - 가운데 - 아래 */
    align-items: center;
    height: 100vh;
    text-align: center;
}

.visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* 세로 가운데 */
    flex-grow: 1;             /* 가운데가 위/아래 공간 먹도록 */
}
.visual .portfolio {
    width: 920px;
    height: 347px;
}
.visual .portfolio img {
    width: 100%;
}
.visual .name {
    margin-top: 32px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--wrapper-margin);
    height: var(--header-h);
    width: 100%;
    align-items: center;
}
.info .wrapper {
    display: flex;
    justify-content: space-between;
}
.info .wrapper .pho .photo {
    width: 297px;
    height: 382px;
}
.info .wrapper .pho .photo img {
    width: 100%;
    border-radius: 15px;
}
.info .wrapper .pho .name {
    margin: 32px 0 72px 0;
}
.info .wrapper .pho .name .ldc {
    width: 187px;
    height: 67px;
    margin-bottom: 8px;
}
.info .wrapper .pho .name .ldc img {
    width: 100%;
}
.info .wrapper .pho .name .na {
    font-family: 'On';
    font-weight: 600;
    color: var(--color-title);
}
.info .wrapper h3 {
    font-family: 'On';
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-title);
}
.info .wrapper strong {
    font-weight: 700;
    margin-right: 16px;
    color: var(--color-title);
}
.info .wrapper .txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info .wrapper .skill .tool {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 */
    gap: 24px; /* 아이콘 간격 */
    justify-items: center; /* 가운데 정렬 */
    margin-top: 24px;
}

.info .wrapper .skill .tool div {
    width: 96px;
    height: 96px;
}

.info .wrapper .skill .tool img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .wrapper {
    overflow: visible;
}
.menu .list .li {
    display: block;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
.menu .list .li h3 {
    font-family: 'On';
    font-size: 60px;
    font-weight: 600;
    color: var(--color-title);
}
.menu .list .li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1260px;
    height: 11px;
    align-items: center;
    background: url(../images/line.png) no-repeat center center / cover;
}
.menu .list .li:last-child::before {
    display: none;
}
@keyframes arrow-wiggle {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(12px); }
    50%  { transform: translateX(-12px); }
    75%  { transform: translateX(6px); }
    100% { transform: translateX(0); }
}

.menu .list .li .photo img {
    transition: transform .3s ease;
}

.menu .list .li:hover .photo img {
    animation: arrow-wiggle .5s ease-in-out;
}
.Thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* 세로 가운데 */
    flex-grow: 1;             /* 가운데가 위/아래 공간 먹도록 */
}
.Thankyou .thx {
    width: 967px;
    height: 238px;
}
.Thankyou .thx img {
    width: 100%;
}