@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-title);
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
}
header .logo a {
    display: block;
    width: 75px;
    height: 55px;
    background: url(../images/logo.png) no-repeat center center / cover;
}
header .gnb li:hover a span{
    font-weight: 700;
}
.project .wrapper {
    margin-top: 140px;
}
.project .wrapper .txt {
    width: 45.24%;
}
.project .wrapper .txt .tit strong {
    font-size: 32px;
    font-weight: 700;
    color: #1d1d1d;
}
.project .wrapper .txt .tit h3 {
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0 40px 0;
    color: #D84727;
}
.project .wrapper .txt .tit a {
    display: block;
    border: 1px solid #1d1d1d;
    border-radius: 50px;
    color: #1d1d1d;
    font-weight: 700;
    padding: 16px 20px;
    width: 226px;
}
.project .wrapper .txt .tit a:hover {
    background-color: #D84727;
    border: 1px solid #fff;
    color: #fff;
}
.project .wrapper .concept {
    margin: 60px 0 40px 0;
}
.project .wrapper .concept h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1d1d1d;
}
.project .wrapper .tag {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
.project .wrapper .tag strong {
    font-weight: 700;
    color: #1d1d1d;
}
.project .wrapper .tag .date strong,
.project .wrapper .tag .key strong {
    margin-right: 16px;
}